.icon {
    font-size: 40px;
  }
  
  .search-icon {
    font-size: 20px;
    color: rgb(6, 6, 7);
    margin-top: 10px;
    margin-left: 240px;
  }
  
  .badge {
    font-size: 10px;
    margin-right:15px ;
  }
  .form-control{
    margin-left: 35px;
    width: 198%;
  }
  a{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  